.innernav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 7rem;
    cursor: pointer;
}

.innernav-container .inner-btn {
    transition: background-color 0.5s ease-in-out;
}

.innernav-container .inner-btn:hover {
    color: #7E3B98;
}

.innernav-container .inner-btn.selected {
    color: #7E3B98;
}

@media (max-width: 768px) {
    .innernav-container {
      font-size: 1rem; /* 텍스트 크기 축소 */
      margin: 0 2rem; /* 여백 축소 */
    }
  
    .innernav-container .inner-btn {
      font-size: 0.9rem; /* 버튼 텍스트 크기 축소 */
      padding: 0.3rem 0.8rem; /* 버튼 여백 축소 */
    }
}

@media (max-width: 480px) {
    .innernav-container {
      font-size: 0.75rem; /* 텍스트 크기 축소 */
      margin: 0 1rem; /* 여백 축소 */
      padding: 0px;
      padding-top: 5px;
    }
  
    .innernav-container .inner-btn {
      font-size: 0.7rem; /* 버튼 텍스트 크기 축소 */
      padding: 0.2rem 0.6rem; /* 버튼 여백 축소 */
    }
}