/* LoginPage.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background: #f0f2f5;
    flex-direction: column;
  }
  
  .loginWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    text-align: center;
    padding: 30px 60px;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 20px;
  }
  
  .googleButton,
  .naverButton {
    display: block;
    padding: 12px 0;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .googleButton {
    background-color: #c1c1c1;
  }
  
  .naverButton {
    background-color: #03c75a;
  }

  .googleButton:hover {
    background-color: #357ae8;
  }
  
  .naverButton:hover {
    background-color: #02a14a;
  }
  